<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Credit Limit Increase Request</h2>
        <p>Hello [User's Name],</p>
        <p>We have received your request for a credit limit increase. Here are the details:</p>
        
        <ul>
            <li>Request Date: [Request Date]</li>
            <li>Current Credit Limit: [Current Credit Limit]</li>
            <li>Requested Credit Limit Increase: [Requested Credit Limit Increase]</li>
        </ul>
        
        <p>We will review your request and get back to you soon.</p>
        <p>Thank you for choosing Cool Banking!</p>
    </div>
</body>
</html>